[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "glm_module/glm"]
	path = glm_module/glm
	url = https://github.com/g-truc/glm.git
[submodule "PerlinNoise"]
	path = PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
[submodule "clap-juce-extensions"]
	path = clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
